@charset "utf-8";
.img {
    display: inline-block;
    float: left;
    padding-bottom: 23px;
    padding-right: 21px;
}
.textogral {
    color: #FFFFFF;
    font-family: nunito;
    font-style: normal;
    font-weight: 300;
}
